# .gitignore

# Node.js dependencies
/node_modules/

# Vite build directory
/dist/

# Nest.js build directory
/dist/

# Logs
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime data
/pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like nyc
/coverage

# dotenv files
.env*
!.env.example

# Temporary or intermediate files
.DS_Store
*.tmp
*.swp
.tmp
tmp
_**.tmp**

# IntelliJ Ignore
/.idea
/target

# VSCode Ignore
/.vscode